<meta charset="UTF-8" />
<meta name="keywords" content="HTML, CSS, JavaScript" />
<meta name="description" content="njsWebSvrSql2008" />
<meta name="author" content="njsWebSvrSql2008"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="icon" href="/favicon/favicon.ico?v=2" type="image/x-icon" />
<title>{{title}}</title>